In [2]:
import quandl

In [7]:
gdp = quandl.get('FRED/GDP')
individual_irs = quandl.get('IRS/RETURNS_IND_CUR')

In [9]:
individual_irs

            # of Returns (000)  Total Income (Mill$)
Year
1913-01-01             358.000              3900.000
1914-01-01             358.000              4000.000
1915-01-01             337.000              4600.000
1916-01-01             437.000              6299.000
1917-01-01            3473.000             13652.000
1918-01-01            4425.000             15925.000
1919-01-01            5333.000             19859.000
1920-01-01            7260.000             23736.000
1921-01-01            6662.000             19577.000
1922-01-01            6787.000             21761.000
1923-01-01            7698.000             25313.000
1924-01-01            7370.000             26189.000
1925-01-01            4171.000             22337.000
1926-01-01            4138.000             22442.000
1927-01-01            4102.000             23854.000
1928-01-01            4144.000             27338.000
1929-01-01            4133.000             26692.000
1930-01-01            3852.000             17047.000
1931-01-01            3411.000             12221.000
1932-01-01            4083.000             10671.000
1933-01-01            3892.000             11473.000
1934-01-01            4198.000             14957.000
1935-01-01            4670.000             17193.000
1936-01-01            5486.000             21773.000
1937-01-01            6350.000             24120.000
1938-01-01            6251.000             21436.000
1939-01-01            7652.000             25363.000
1940-01-01           14711.000             40155.000
1941-01-01           25870.000             63433.000
1942-01-01           36619.000             85780.000
...                        ...                   ...
1995-01-01          118218.000           4230493.000
1995-12-31          118218.327           4230493.192
1996-01-01          120351.000           4578621.000
1996-12-31          120351.208           4578621.425
1997-01-01          122422.000           5016905.000
1997-12-31          122421.991           5016904.666
1998-01-01          124771.000           5467504.000
1998-12-31          124770.662           5467503.555
1999-01-01          127075.000           5912167.000
1999-12-31          127075.145           5912166.710
2000-01-01          129374.000           6423986.000
2000-12-31          129373.500           6423986.166
2001-01-01          130255.000           6231177.000
2001-12-31          130255.237           6231176.710
2002-01-01          130076.000           6110747.000
2002-12-31          130076.443           6110746.964
2003-01-01          130424.000           6294684.000
2003-12-31          130423.626           6294684.470
2004-01-01          132226.000           6886852.000
2004-12-31          132226.042           6886851.809
2005-01-01          134373.000           7531892.000
2005-12-31          134372.678           7531892.210
2006-12-31          138394.754           8144688.302
2007-12-31          142978.806           8810738.960
2008-12-31          142450.569           8384459.552
2009-12-31          140494.127           7739397.945
2010-12-31          142892.051           8208441.150
2011-12-31          145370.240           8498486.227
2012-12-31          144928.472           9234159.288
2013-12-31          147351.299           9233510.773

[117 rows x 2 columns]