In [161]:
%matplotlib inline
import quandl
import petl as etl
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import datetime as dt
import json
from pprint import pprint

In [119]:
#gdp = quandl.get('FRED/GDP').to_json()
gdp = quandl.get('FRED/GDP')
#individual_irs = quandl.get('IRS/RETURNS_IND_CUR')

In [166]:
gdpp = pd.DataFrame(gdp)
table = etl.fromdataframe(gdpp)

In [169]:
#gdpp.reset_index(level=0, inplace=True)
table = etl.fromdataframe(gdpp)
table2 = etl.convert(table,{'DATE': lambda datestr: dt.datetime.strptime(datestr,'%Y-%m-%d %H:%M:%S')})
table2.head()

+------+-------+
| DATE | VALUE |
+======+=======+
| None | 243.1 |
+------+-------+
| None | 246.3 |
+------+-------+
| None | 250.1 |
+------+-------+
| None | 260.3 |
+------+-------+
| None | 266.2 |
+------+-------+

In [171]:
#gdpp.reset_index(level=0, inplace=True)
table = etl.fromdataframe(gdpp)
table1 = etl.convert(table,{'DATE': etl.datetimeparser('%Y-%m-%d %H:%M:%S') })
look(parsecounts(table))
table1.head()

+------+-------+
| DATE | VALUE |
+======+=======+
| None | 243.1 |
+------+-------+
| None | 246.3 |
+------+-------+
| None | 250.1 |
+------+-------+
| None | 260.3 |
+------+-------+
| None | 266.2 |
+------+-------+

In [188]:
#gdpp.reset_index(level=0, inplace=True)
table = etl.fromdataframe(gdpp)
parsers={'date': etl.datetimeparser('%Y-%m-%d %H:%M:%S')}
etl.look(table)

+----------------------------------+-------+
| DATE                             | VALUE |
+==================================+=======+
| Timestamp('1947-01-01 00:00:00') | 243.1 |
+----------------------------------+-------+
| Timestamp('1947-04-01 00:00:00') | 246.3 |
+----------------------------------+-------+
| Timestamp('1947-07-01 00:00:00') | 250.1 |
+----------------------------------+-------+
| Timestamp('1947-10-01 00:00:00') | 260.3 |
+----------------------------------+-------+
| Timestamp('1948-01-01 00:00:00') | 266.2 |
+----------------------------------+-------+
...

In [175]:
table.head()

+----------------------------------+-------+
| DATE                             | VALUE |
+==================================+=======+
| Timestamp('1947-01-01 00:00:00') | 243.1 |
+----------------------------------+-------+
| Timestamp('1947-04-01 00:00:00') | 246.3 |
+----------------------------------+-------+
| Timestamp('1947-07-01 00:00:00') | 250.1 |
+----------------------------------+-------+
| Timestamp('1947-10-01 00:00:00') | 260.3 |
+----------------------------------+-------+
| Timestamp('1948-01-01 00:00:00') | 266.2 |
+----------------------------------+-------+